<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325498537816-eekbshl8m6jnes08pe0h497eadef6mm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325498537816-eekbshl8m6jnes08pe0h497eadef6mm8</string>
	<key>API_KEY</key>
	<string>AIzaSyBaYmWnSiS1SDq8HdYyzgzwaXqR7tgJ1nY</string>
	<key>GCM_SENDER_ID</key>
	<string>325498537816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tvseries.base.dev</string>
	<key>PROJECT_ID</key>
	<string>flh-tvseries</string>
	<key>STORAGE_BUCKET</key>
	<string>flh-tvseries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325498537816:ios:11c0c0c2746a79539f072d</string>
</dict>
</plist>